[submodule "external/minhook"]
	path = external/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "external/Detours"]
	path = external/Detours
	url = https://github.com/microsoft/Detours.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/PresentMon"]
	path = external/PresentMon
	url = https://github.com/GameTechDev/PresentMon.git
[submodule "external/implot"]
	path = external/implot
	url = https://github.com/epezent/implot.git
[submodule "external/cpp-utils"]
	path = external/cpp-utils
	url = git@github.com:xindzju/cpp-utils.git
